
.vs/ProjectMuteSheet/v15/.suo
.vs/ProjectMuteSheet/v15/sqlite3/storage.ide
ProjectMuteSheet/obj/Debug/ProjectMuteSheet.pdb
ProjectMuteSheet/obj/Debug/ProjectMuteSheet.pdb
ProjectMuteSheet/obj/Debug/ProjectMuteSheet.exe
ProjectMuteSheet/obj/Debug/ProjectMuteSheet.csproj.GenerateResource.Cache
ProjectMuteSheet/bin/Debug/ProjectMuteSheet.pdb
ProjectMuteSheet/bin/Debug/ProjectMuteSheet.exe
